<h1>Información del Usuario Actual</h1>
  <div class="user-info">
    <span class="label">Nombre:</span> <span id="name">{{first_name}}</span>
  </div>
  <div class="user-info">
    <span class="label">Apellido:</span> <span id="lastname">{{last_name}}</span>
  </div>
  <div class="user-info">
    <span class="label">Correo Electrónico:</span> <span id="email">{{email}}</span>
  </div>

  <a href="http://localhost:8080/api/products">Volver Al menu</a>