<h1>Bienvenido Al ecommerce</h1>

<p>Tienes Cuenta? <a href="http://localhost:8080/api/session/login/">Iniciar Sesión</a></p>
<p>Aun no tienes Cuenta? <a href="http://localhost:8080/user/register/">Registrarse</a></p>

