<h1>COMPRA REALIZADA</h1>

<div class="ticket">
		<h2>Ticket de Compra</h2>
		<div class="datos">
			<p><span>Hora:</span> {{hora}}</p>
			<p><span>Comprador:</span> {{comprador}}</p>
		</div>
		<div class="total">
			<p><span>Total:</span> ${{total}}</p>
		</div>
</div>

<a href="/api/products">Volver Al Menú</a>